<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>Auxiliar escritorio rural en Tierra Gaucha S.R.L</h1> - <h3>2011/2012</h3>
    </li>
    <p>
       Administracion agropecuaria.
       Manejo de paquete de Office.
       Adolfo Gonzales Chaves, Provincia de Buenos aires
    </p>
</ul>
<ul>
    <li>
        <h1>Empleado de Reparto</h1> - <h3>2012/2014</h3>
    </li>
    <p>
       Repartidor de mercaderia mayorista,
       cobro a clientes y ventas. Distribuidora los dos Juan
       Adolfo Gonzales Chaves, Provincia de Buenos aires. 
    </p>
</ul>
<ul>
    <li>
        <h1>Empleado de Comercio</h1> - <h3>2014/2022</h3>
    </li>
    <p>
        Armado, reparto, mantenimiento de 
        mercadería y local. Tramites bancarios,
        facturación, atención al publico, ventas y 
        proveedores. Muebleria Peter Muebles.
        Tandil, Provincia de Buenos Aires 
    </p>
</ul>
    </div>
</div>
