
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="" class="img-fluid" id="fotodeperfil">
        </div>
    
<div class="col-xs-12 col-sm-2 col-md-2- col-lg-2">
    <p id="nombre">Mozzoni Franco Nicolás</p>
    <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Sobre Mi</h1>
        <p>Bienvenidos a mi Porfolio, mi nombre es Franco Mozzoni, tengo 30 años de edad y me encuentro en la ciudad de Tandil. Me caracterizo por ser una persona disciplinada y con muchas ganas de adquuirir nuevos conocimientos que me ayuden a poder lograr mi meta: Ser un Developer Full Stack</p>
    </span>
</div>
    </div>
