
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
    
<div class="col-xs-12 col-sm-2 col-md-2- col-lg-2">
    <p id="nombre">Mozzoni Franco Nicolás</p>
    <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Sobre mi</h1>
        <p>Bienvenidos a mi Porfolio, mi nombre es Franco Mozzoni, tengo 30 años de edad y me encuentro en la ciudad de Tandil. Me caracterizo por ser una persona disciplinada y con muchas ganas de adquirir nuevos conocimientos que me ayuden a poder lograr mi meta: Ser un Developer Full Stack</p>
    </span>
    <div class="ratio ratio-16x9">
        <video src="../../../assets/video presentacion1.mp4" type="video/mp4" controls></video>
    </div>
</div>
    </div>
