<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>SECUNDARIO COMPLETO</h1> - <h3>2003/2009</h3>
    </li>
    <p>
        Escuela Inmaculada Concepción 
        Bachiller en Economía y Gestión de las organizaciones
    </p>
</ul>
<ul>
    <li>
        <h1>TITULO UNIVERSITARIO</h1> - <h3>2011/2014</h3>
    </li>
    <p>
        Martillero y Corredor Publico en Universidad Fasta 
    </p>
</ul>
<ul>
    <li>
        <h1>TITULO TERCIARIO</h1> - <h3>2021/actualidad</h3>
    </li>
    <p>
        Desarrollador web Full Stack jr. Argentina Programa 
    </p>
</ul>
    </div>
</div>

